<header>
    <nav>
        <div class="nav-wrapper container">
            <ul class="right">
                {% if page.active == 'home' %}
                <li><a href="/" class="active">Home</a></li>
                {% else %}
                <li><a href="/">Home</a></li>
                {% endif %}

                <!-- <li><a href="#">Articles</a></li>
                <li><a href="#">Projects</a></li> -->

                {% if page.active == 'contact' %}
                <li><a href="/contact" class="active">Contact</a></li>
                {% else %}
                <li><a href="/contact">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>


{% if page.hello %}
<div class="hello center">
    <div class="container">
        <img src="/assets/image/rodriguescelio.jpg" class="center-block" width="200" height="200" />
        <h1>I’m Celio Rodrigues</h1>
        <h5>Introduction</h5>
        <a href="/contact" class="btn-large center-block">Contact me</a>
    </div>
</div>
{% endif %}